# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Django
db.sqlite3
*.log
*.pot
*.pyc
staticfiles/
media/

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
pgdata/
*.pid

# Node (if React gets added later)
node_modules/
build/
dist/

# Environment files
.env

